@charset "utf-8";
/* CSS Document */
*{
    margin: 0;
    padding: 0;
}
.header{
    margin-top: 15px;

}
/* 语言部分的样式 */

.language{
    width: 100%;
    height: 35px;
    background-color:#3c87c7;
}
/* 语言下面的li 标签 用来存放语言 english 韩语 */

.language>ul{
    float: right;
    height: 35px;
    margin-right: 210px;
}
.language>ul>li{
    width: 80px;
    height: 35px;
    float: left;
    margin-left: 5px;
    list-style: none;
}

.language>ul>li:nth-of-type(5){
    padding-left: 30px;
    font-size: 14px;
    line-height: 35px;
    background: url(  "../img/b7.png") no-repeat 3px 0;
    background-color: #195F9D;
}


/* 导航条部分 */
.nav{
    width: 100%;
    height: 70px;
    background-color: #0e2a48;
}


/* 清除a标签默认样式 */

a{
    text-decoration: none;
    color: #101111ce;
}


/* 导航条部分 */
.nav>ul{
    margin-left: 310px;
    height: 70px;
}
.nav>ul>li{
    height: 70px;
    padding: 0 55px;
    float: left;
    list-style: none;
    margin-right: 10px;
    position: relative;
    
}

.nav>ul>li>a{
    color: white;
    line-height: 70px;
}

#home{
    position: absolute;
    top: 19px;
}

#homeLi{
    width: 40px;
}
/*版心 */	
	  body {
            background-color: #f2f2f2;
            font-family: Arial, sans-serif;
        }

        h2 {
            text-align: center;
            margin-top: 30px;
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .card {
            width: 30%;
            margin-bottom: 40px;
            box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
            transition: 0.3s;
            border-radius: 5px;
            overflow: hidden;
        }

        .card:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        }

        .card img {
            width: 100%;
            height: 200px;
            -o-object-fit: cover;
               object-fit: cover;
        }

        .card h3 {
            padding: 10px;
            text-align: center;
        }

        @media (max-width: 1000px) {
            .card {
                width: 45%;
            }
        }

        @media (max-width: 600px) {
            .card {
                width: 100%;
            }
        }
/* 底部 */

.footer{
    width: 100%;
    height: 280px;
    background-color: #282928;
    color: #f2f2f2;
    padding: 30px 212px;
    box-sizing: border-box;
}

.footer>.footerTop{
    width: 100%;
    height: 150px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(82, 80, 80);
}

.footerTop>.left{
    height: 140px;
    width: 40%;
    float: left;
    border-right: 1px solid rgb(82, 80, 80);
    
}

.footerTop>.left>.leftWorld{
    width: 50%;
    height: 100%;
    float: left;
}
.footerTop>.left>.leftWorld>h1{
    font-weight: 400;
}

.footerTop>.left>.leftWorld>p{
    font-size: 14px;
    line-height: 25px;
}

.footerTop>.right{
    height: 140px;
    width: 59%;
    float: left;
    
}

.footerTop>.right{
    height: 140px;
    width: 33.33%;
    padding:10px 60px;
    box-sizing: border-box;
}
.footerTop>.right>h3{
    color:#4c87d1 ;
    font-size: 16px;
    margin-left: 20px;
}

.footerTop>.right>ul{
    list-style: none;
}

.footerTop>.right>ul>li{
    width: 100%;
    line-height: 40px;
    padding-left: 15px;
    box-sizing: border-box;
    position: relative;
    background: url(  "img/arrow_bottom.png") no-repeat 2px 14px;
}
.footerTop>.right>ul>li:nth-of-type(1){
    padding-left: 39px;
    box-sizing: border-box;
}

.footerTop>.right>ul>li:nth-of-type(1)>img{
    position: absolute;
    top: 10px;
    left: 15px;
}




.footer>p{
    margin-top: 30px;
    text-align: center;
    font-size: 14px;
    color: #777a77;
}
.footer>p>span{
    color: rgb(219, 218, 218);
}

.footer>p>span:hover{
    color: #777a77;
}
